*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(135deg,#ff4d6d,#ff85a2,#ffc2d1);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

.container{
    width:90%;
    max-width:420px;
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(12px);
    padding:30px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 0 25px rgba(255,255,255,.3);
}

h1{
    color:white;
    margin-bottom:20px;
}

p{
    color:white;
    margin-bottom:15px;
    font-size:18px;
}

input{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    font-size:18px;
    text-align:center;
}

button{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    border-radius:10px;
    background:white;
    color:#ff2d55;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.08);
}

#result{
    margin-top:25px;
    color:white;
    font-size:22px;
    line-height:1.6;
}
